[Unit]
Description=The Eagle Eye Anomaly Detection Service
After=network.target

[Service]
Type=simple
User=<user_name>
WorkingDirectory=/usr/local/share/eagle_eye
ExecStart=/home/<user_name>/anaconda3/envs/<env_name>/bin/python ee_anomaly_detection_service_efficient.py
StandardOutput=append:/home/<user_name>/.config/eagle_eye/service.log
StandardError=append:/home/<user_name>/.config/eagle_eye/service.log
Restart=on-failure

[Install]
WantedBy=multi-user.target