[Desktop Entry]
Name=Eagle Eye
Comment=A Fabric Anomaly Detection Application
Exec=/usr/local/bin/eagle_eye/ee
Icon=com.example.eagle_eye
Terminal=false
Type=Application
Categories=Application