[Unit]
Description=The Eagle Eye Anomaly Detection Service
After=network.target

[Service]
Type=simple
User=liang
WorkingDirectory=/usr/local/share/eagle_eye
ExecStart=/home/liang/anaconda3/envs/tf215/bin/python ee_anomaly_detection_service.py
StandardOutput=append:/home/liang/.config/eagle_eye/service.log
StandardError=append:/home/liang/.config/eagle_eye/service.log
Restart=on-failure

[Install]
WantedBy=multi-user.target