.header_label {
    font-weight: bold;
}

.green-text {
    color: green;
    font-weight: bold;
}

.red-text {
    color: red;
    font-weight: bold;
}

.green-indicator {
    background-color: green;
    border-radius: 8px;
}

.gray-indicator {
    background-color: gray;
    border-radius: 8px;
}

.delete-button {
    color: white;
    background-image: none;
    background-color: #aa0000; /* Red background */
}