#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@

override_dh_auto_configure:
	meson setup builddir --prefix=/usr/local

override_dh_auto_build:
	ninja -C builddir

override_dh_auto_install:
	DESTDIR=$(CURDIR)/debian/eagle-eye ninja -C builddir install

override_dh_usrlocal:
# skip running dh_usrlocal

override_dh_shlibdeps:
# Debian package tools rely on system-installed package metadata, and files under /usr/local/ are often not tracked by dpkg.
# This forces dpkg-shlibdeps to ignore missing package information and look in /usr/local/cuda-12.8/lib64.
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info -l/usr/local/cuda-12.8/lib64
